body { background-color: rgb(255, 255, 255)
    
}

body{
    font-family: 'Merriweather Sans', sans-serif;

}

.enlace {
 text-decoration: none;
}


.imagen{
    width: 10px;
    padding: 5px;
    float: right;
}


.linea-con-circulo {
    display: flex;
    align-items: center;
}

.linea {
    width: 250px; /* Ancho de la línea */
    height: 1px; /* Grosor de la línea */
    background-color: #f85b00; /* Color de la línea */
}

.circulo {
    width: 100px; /* Diámetro del círculo */
    height: 20px; /* Diámetro del círculo */
    border: 1px solid #f85b00; /* Grosor y color del borde del círculo */
    border-radius: 15%; /* Hace que el borde se comporte como un círculo */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25 25px; /* Margen entre la línea y el círculo */
}

span {
    font-size: 10px; /* Tamaño de fuente del texto dentro del círculo */
    color: #f85b00;
}

.titulo-azul {
    color: #01011a; /* Establece el color azul para el texto */
    font-size: 35px; /* Establece el tamaño de fuente grande */
    text-align: left; /* Alinea el texto a la izquierda */
  }

  .mi-parrafo {
    text-align: left; /* Alinea el texto a la izquierda */
    color: #01011a; /* Cambia el color del texto a azul */
    font-size: 18px; /* Ajusta el tamaño de la fuente a 18 píxeles */
}


/* Estilos para el botón  inscribete*/
.boton {
    background-color: white; /* Color de fondo inicial */
    border: 1px solid #ff5e00fd; /* Borde de color naranja */
    color: #05011dfd; /* Color del texto */
    padding: 10px 20px; /* Relleno para el botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    text-align: left; /* Alinea el texto a la izquierda */
    border-radius: 18%; /* Hace que el borde se comporte como un círculo */
    width: 200px; /* Diámetro del círculo */
    height: 50px; /* Diámetro del círculo */
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton:hover {
    background-color: #ff5e00fd; /* Cambia el fondo a naranja */
    color: white; /* Cambia el texto a blanco */
}

/* Estilo para el cuadro */
.opciones-box {
    width: 100px;
    padding: 10px;
    border: 1px solid #000;
    text-align: center;
    cursor: pointer;
}

/* Estilo para el cuadro */
.opciones-box {
    position: relative;
    width: 50px;
    padding:5px;
    border: 1px solid #000;
    text-align: center;
    cursor: pointer;
}

/* imagen del teclado */ 

.mi-imagen {
    position: absolute;
    top: 350px;
    left: 710px;
}

/* cuadro con la informacion del programa*/

#mi-cuadro {
    position: absolute;
    top: 1102px;
    left: 710px;
    background-color: #617989;
    padding: 100px;
    width: 443px; /* Diámetro del cuadro */
  }

  .mi-texto1 {
    position: absolute; /* Posición absoluta para controlar la ubicación */
    top: 1103px; /* Posición desde la parte superior en píxeles */
    left: 750px; /* Posición desde la izquierda en píxeles */
    font-size: 16px; /* Tamaño de fuente */
    color: #ffffff; /* Color del texto */
  }

  .mi-texto2 {
    position: absolute; /* Posición absoluta para controlar la ubicación */
    top: 1103px; /* Posición desde la parte superior en píxeles */
    left: 900px; /* Posición desde la izquierda en píxeles */
    font-size: 16px; /* Tamaño de fuente */
    color: #ffffff; /* Color del texto */
  }

  .mi-texto3 {
    position: absolute; /* Posición absoluta para controlar la ubicación */
    top: 1140px; /* Posición desde la parte superior en píxeles */
    left: 750px; /* Posición desde la izquierda en píxeles */
    font-size: 16px; /* Tamaño de fuente */
    color: #ffffff; /* Color del texto */
  }

  .mi-texto4 {
    position: absolute; /* Posición absoluta para controlar la ubicación */
    top: 1140px; /* Posición desde la parte superior en píxeles */
    left: 1070px; /* Posición desde la izquierda en píxeles */
    font-size: 16px; /* Tamaño de fuente */
    color: #ffffff; /* Color del texto */
  }

  .mi-texto5 {
    position: absolute; /* Posición absoluta para controlar la ubicación */
    top: 1175px; /* Posición desde la parte superior en píxeles */
    left: 750px; /* Posición desde la izquierda en píxeles */
    font-size: 16px; /* Tamaño de fuente */
    color: #ffffff; /* Color del texto */
  }

  .mi-texto6 {
    position: absolute; /* Posición absoluta para controlar la ubicación */
    top: 1175px; /* Posición desde la parte superior en píxeles */
    left: 950px; /* Posición desde la izquierda en píxeles */
    font-size: 16px; /* Tamaño de fuente */
    color: #ffffff; /* Color del texto */
  }

  .mi-texto7 {
    position: absolute; /* Posición absoluta para controlar la ubicación */
    top: 1210px; /* Posición desde la parte superior en píxeles */
    left: 750px; /* Posición desde la izquierda en píxeles */
    font-size: 16px; /* Tamaño de fuente */
    color: #ffffff; /* Color del texto */
  }

  .mi-texto8 {
    position: absolute; /* Posición absoluta para controlar la ubicación */
    top: 1245px; /* Posición desde la parte superior en píxeles */
    left: 750px; /* Posición desde la izquierda en píxeles */
    font-size: 16px; /* Tamaño de fuente */
    color: #ffffff; /* Color del texto */
  }

  .mi-texto9 {
    position: absolute; /* Posición absoluta para controlar la ubicación */
    top: 1245px; /* Posición desde la parte superior en píxeles */
    left: 1050px; /* Posición desde la izquierda en píxeles */
    font-size: 16px; /* Tamaño de fuente */
    color: #ffffff; /* Color del texto */
  }

  .mi-texto10 {
    position: absolute; /* Posición absoluta para controlar la ubicación */
    top: 1245px; /* Posición desde la parte superior en píxeles */
    left: 1235px; /* Posición desde la izquierda en píxeles */
    font-size: 16px; /* Tamaño de fuente */
    color: #ffffff; /* Color del texto */
  }

  /* formulario ucompensar */


  /* cuadro de grado tecnico*/
  
  #cuadro2 {
    position: relative;
    top: 900px;
    left: 15px;
    background-color: #fff3f3;
    padding: 150px;
    width: 125px; /* Diámetro del cuadro */
  }

  .mi-texto01 {
    position: absolute; /* Posición absoluta para controlar la ubicación */
    top: 1615px; /* Posición desde la parte superior en píxeles */
    left: 155px; /* Posición desde la izquierda en píxeles */
    font-size: 16px; /* Tamaño de fuente */
    color: #01072c; /* Color del texto */
  }

  .mi-texto02 {
    position: absolute; /* Posición absoluta para controlar la ubicación */
    top: 1650px; /* Posición desde la parte superior en píxeles */
    left: 140px; /* Posición desde la izquierda en píxeles */
    font-size: 16px; /* Tamaño de fuente */
    color: #01072c; /* Color del texto */
  }

  .mi-texto03 {
    position: absolute; /* Posición absoluta para controlar la ubicación */
    top: 1710px; /* Posición desde la parte superior en píxeles */
    left: 140px; /* Posición desde la izquierda en píxeles */
    font-size: 11px; /* Tamaño de fuente */
    color: #01072c; /* Color del texto */
  }

  .mi-texto04 {
    position: absolute; /* Posición absoluta para controlar la ubicación */
    top: 1740px; /* Posición desde la parte superior en píxeles */
    left: 170px; /* Posición desde la izquierda en píxeles */
    font-size: 11px; /* Tamaño de fuente */
    color: #01072c; /* Color del texto */
  }

  .mi-texto05 {
    position: absolute; /* Posición absoluta para controlar la ubicación */
    top: 1770px; /* Posición desde la parte superior en píxeles */
    left: 190px; /* Posición desde la izquierda en píxeles */
    font-size: 11px; /* Tamaño de fuente */
    color: #01072c; /* Color del texto */
  }

  .mi-texto06 {
    position: absolute; /* Posición absoluta para controlar la ubicación */
    top: 1795px; /* Posición desde la parte superior en píxeles */
    left: 140px; /* Posición desde la izquierda en píxeles */
    font-size: 16px; /* Tamaño de fuente */
    color: #ff7300; /* Color del texto */
  }

    /* cuadro de grado tecnologo*/

    #cuadro3 {
        position: relative;
        top: 600px;
        left: 450px;
        background-color: #fff3f3;
        padding: 150px;
        width: 150px; /* Diámetro del cuadro */
      }
    
      .mi-texto001 {
        position: absolute; /* Posición absoluta para controlar la ubicación */
        top: 1615px; /* Posición desde la parte superior en píxeles */
        left: 625px; /* Posición desde la izquierda en píxeles */
        font-size: 16px; /* Tamaño de fuente */
        color: #01072c; /* Color del texto */
      }
    
      .mi-texto002 {
        position: absolute; /* Posición absoluta para controlar la ubicación */
        top: 1650px; /* Posición desde la parte superior en píxeles */
        left: 500px; /* Posición desde la izquierda en píxeles */
        font-size: 16px; /* Tamaño de fuente */
        color: #01072c; /* Color del texto */
      }
    
      .mi-texto003 {
        position: absolute; /* Posición absoluta para controlar la ubicación */
        top: 1705px; /* Posición desde la parte superior en píxeles */
        left: 570px; /* Posición desde la izquierda en píxeles */
        font-size: 11px; /* Tamaño de fuente */
        color: #01072c; /* Color del texto */
      }
    
      .mi-texto004 {
        position: absolute; /* Posición absoluta para controlar la ubicación */
        top: 1740px; /* Posición desde la parte superior en píxeles */
        left: 615px; /* Posición desde la izquierda en píxeles */
        font-size: 11px; /* Tamaño de fuente */
        color: #01072c; /* Color del texto */
      }
    
      .mi-texto005 {
        position: absolute; /* Posición absoluta para controlar la ubicación */
        top: 1770px; /* Posición desde la parte superior en píxeles */
        left: 650px; /* Posición desde la izquierda en píxeles */
        font-size: 11px; /* Tamaño de fuente */
        color: #01072c; /* Color del texto */
      }
    
      .mi-texto006 {
        position: absolute; /* Posición absoluta para controlar la ubicación */
        top: 1800px; /* Posición desde la parte superior en píxeles */
        left: 600px; /* Posición desde la izquierda en píxeles */
        font-size: 16px; /* Tamaño de fuente */
        color: #ff7300; /* Color del texto */
      }

      /* cuadro grado ingeniero */

      #cuadro6 {
        position: relative;
        top: 300px;
        left: 910px;
        background-color: #fff3f3;
          width: 120px; /* Diámetro del cuadro */
      }
      .mi-texto0001 {
        position: absolute; /* Posición absoluta para controlar la ubicación */
        top: 1615px; /* Posición desde la parte superior en píxeles */
        left: 1080px; /* Posición desde la izquierda en píxeles */
        font-size: 16px; /* Tamaño de fuente */
        color: #01072c; /* Color del texto */
      }
    
      .mi-texto0002 {
        position: absolute; /* Posición absoluta para controlar la ubicación */
        top: 1650px; /* Posición desde la parte superior en píxeles */
        left: 1030px; /* Posición desde la izquierda en píxeles */
        font-size: 16px; /* Tamaño de fuente */
        color: #01072c; /* Color del texto */
      }
    
      .mi-texto0003 {
        position: absolute; /* Posición absoluta para controlar la ubicación */
        top: 1705px; /* Posición desde la parte superior en píxeles */
        left: 1030px; /* Posición desde la izquierda en píxeles */
        font-size: 11px; /* Tamaño de fuente */
        color: #01072c; /* Color del texto */
      }
    
      .mi-texto0004 {
        position: absolute; /* Posición absoluta para controlar la ubicación */
        top: 1740px; /* Posición desde la parte superior en píxeles */
        left: 1080px; /* Posición desde la izquierda en píxeles */
        font-size: 11px; /* Tamaño de fuente */
        color: #01072c; /* Color del texto */
      }
    
      .mi-texto0005 {
        position: absolute; /* Posición absoluta para controlar la ubicación */
        top: 1770px; /* Posición desde la parte superior en píxeles */
        left: 1105px; /* Posición desde la izquierda en píxeles */
        font-size: 11px; /* Tamaño de fuente */
        color: #01072c; /* Color del texto */
      }
    
      .mi-texto0006 {
        position: absolute; /* Posición absoluta para controlar la ubicación */
        top: 1800px; /* Posición desde la parte superior en píxeles */
        left: 1050px; /* Posición desde la izquierda en píxeles */
        font-size: 16px; /* Tamaño de fuente */
        color: #ff7300; /* Color del texto */
      }

      .form {

        width: 400px;
        margin: auto;
        background: rgb(255, 255, 255);
        padding: 10px 20px;
        box-sizing: border-box;
        margin-top: 20px;
    border-radius: 7px;
    
        }

        .Titulaciones { 

          position: center; /* Posición central */
          top: 1770px; /* Posición desde la parte superior en píxeles */
          left: 1105px; /* Posición desde la izquierda en píxeles */
          font-size: 35px; /* Tamaño de fuente */
          color: #040925; /* Color del texto */

        }

        h2 {
          text-align: center;
        }

        .habeas {
          position: relative;
          cursor: pointer;
          background-color: #fff;
          width: 48px;
          height: 48px;
          appearance: none;
          border: 2px solid #888;

        }

        .checkbox-group {
          position: relative;
      }
      
      .checkbox-group .custom-checkbox {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          z-index: 1;
          width: 1.5rem;
          height: 1.5rem;
      }
      
      .custom-checkbox ~ .custom-checkbox-span {
          display: inline-block;
          border: 1px solid #000;
          width: 1.5rem;
          height: 1.5rem;
          vertical-align: middle;
          cursor: pointer;
      }
      
      .custom-checkbox:checked ~ .custom-checkbox-span:after {
          content: "\2713";
          font-size: 1rem;
          font-weight: bold;
          position: relative;
          left: 5px;
          top: 2px;
          color: #000;
      }

      .Enviar {
        background-color: #ea580c;
        border: 1px solid #ea580c;
        color: #fff;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 4px;
        text-align: center;
        border-radius: 10%;
        width: 80px; /* Diámetro del círculo */
      height: 50px; /* Diámetro del círculo */
      display: flex;
      justify-content: center;
      align-items: center;
        
      }

        .caja { 
        font-family: sans-serif; 
        width: 400px;
        height: 250px;
        text-align: center;
        background:#f8f7f5; 
        border-radius: 15px 15px 15px 15px;
       display: inline-block ;
       padding: 25px;
       
       }

      .caja2 { 
        font-family: sans-serif; 
        width: 400px;
        height: 250px;
        text-align: center;
        background:#f8f7f5;
        border-radius: 15px 15px 15px 15px;
        display: inline-block ;
        padding: 25px;
        
      }

      .caja3 { 
        font-family: sans-serif; 
        width: 400px;
        height: 250px;
        text-align: center;
        background:#f8f7f5;
        border-radius: 15px 15px 15px 15px;
        display: inline-block ;
        padding: 25px;
      }

      .caja4 { 
        font-family: sans-serif; 
        width: 400px;
        height: 250px;
        text-align: left;
        background:#ffffff;
        color: #040925;
        border-radius: 15px 15px 15px 15px;
        padding: 15px;
        display: inline-block ;
      }

      .mi-texto0006 {
        position: absolute; /* Posición absoluta para controlar la ubicación */
        top: 1800px; /* Posición desde la parte superior en píxeles */
        left: 1050px; /* Posición desde la izquierda en píxeles */
        font-size: 16px; /* Tamaño de fuente */
        color: #040925; /* Color del texto */
      }

      .caja5 { 
        font-family: sans-serif; 
        width: 400px;
        height: 400px;
        text-align: left;
        background:#ffffff;
        padding: 25px;
        display: inline-block ;
      }

      .caja6 { 
        font-family: sans-serif; 
        width: 400px;
        height: 400px;
        text-align: left;
        background:#ffffff;
        padding: 15px;
        display: inline-block;
      }

      .caja7 { 
        font-family: sans-serif; 
        width: 1305px;
        height: 160px;
        text-align: center;
        background:#f8f7f5;
        color: #040925;
        padding: 25px;
        }

        .caja8 { 
          font-family: sans-serif; 
          width: 700px;
          height: 800px;
          text-align: left;
          background:#ffffff;
          padding: 25px;
          display: inline-block;
          }

        .Perfil {
        position: absolute; /* Posición absoluta para controlar la ubicación */
        top: 1800px; /* Posición desde la parte superior en píxeles */
        left: 1050px; /* Posición desde la izquierda en píxeles */
        font-size: 40px; /* Tamaño de fuente */
        color: #c46c08; /* Color del texto */
        }

        .caja9 { 
          font-family: sans-serif; 
          width: 600px;
          height: 800px;
          text-align: left;
          background:#ffffff;
          padding: 25px;
          display: inline-block;
          }

.copy{  
  color: #ea580c;
 text-align: left;
font-size: 13px;}

.copy2{  
  color: #ea580c;
 text-align: left;
font-size: 15px;}

{
  box-sizing: border-box;
  font-family:  sans-serif;
  margin: 0; 
  padding: 0;
}
ul {
  list-style: none;
  padding-left: 0;
}
footer {
  background-color: #4e5357;
  color: #fffefe;
  line-height: 1.0;
  font-size: 13px;
}
footer a {
  text-decoration: none;
  color: #fffbfb;
}
a:hover {
  text-decoration: underline;
}
.ft-title {
  color: #fff;
  font-family: sans-serif;
  font-size: 40px;
  text-align: left;
  padding-bottom: 0.625rem;
}

.ft-title1 {
  color: #fff;
  font-family: sans-serif;
  font-size: 20px;
  text-align: left;
  padding-bottom: 0.625rem;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.container {
  flex: 1;    /* same as flex-grow: 1; */
}
.ft-main {
  padding: 1.25rem 1.875rem;
  display: flex;
  flex-wrap: wrap;
}
.ft-main-item {
  padding: 1.25rem;
  min-width: 12.5rem /*200px*/;
}
@media only screen and (min-width: 29.8125rem /*477px*/) {
  .ft-main {
      justify-content: space-around;
  }
}
@media only screen and (min-width: 77.5rem /*1240px*/ ) {
  .ft-main {
      justify-content: space-evenly;
  }
}


        
    

      
